@font-face{
    font-family:"Caviar dreams";
    src:url('fonts/CaviarDreams.ttf');
}

body{
    background-color: #d6c5fb;
}

.quiz{
    border-radius: 20px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
    width: 142px;
    height: 100px;
}
        
.quiz > button{
/*    background-color: rgba(164, 127, 247, 1);*/
    border: solid rgba(95, 95, 95, 1) 0px;
    cursor: pointer !important;
    width: 100%;
    height: 100%;
    border-radius: 18px;
    font-family:"Caviar dreams"; 
    color: white;
    font-size: 24px;
}

.outer{
    width: 698px;
    height: 100px;
}

.selected{
    color: #333 !important;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.unselected{
    background-color: rgba(164, 127, 247, 1);
}

button:focus {outline:0;}