@font-face{
    font-family:"Helvetica Neue";
    src:url('fonts/HelveticaNeue.tff');
}

.quiz{
    border-radius: 20px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
    width: 142px;
    height: 76px;
}

.quiz_2{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
    /*width: 142px;*/
    height: 76px;
}

.box{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 955px;
    margin-top: -1110px;
}

.stepbox{
    margin-bottom: -48px;
    margin-left: 20px;
}

.stepbox > h1{
    font-size: 86px;
    color: #979797;
    font-weight: 400;
}

hr{
    border-top: 1px solid #cccccc;
}

.outer{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 686px;
}

.quiz_title{
    text-align: center;
}

.selected{
    color: #333 !important;
    background-color: #e6e6e6 !important;
    border-color: #e6e6e6 !important;  
}

.unselected{
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: #A47FF7;
    border: solid #A47FF7 2px;
    cursor: pointer !important;
    width: 124px;
    height: 40px;
    border-radius: 5px;
    font-family:"Helvetica Neue";
    color: white;
    font-size: 16px;
}

.quiz_2 > .unselected{
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: #A47FF7;
    border: solid #A47FF7 2px;
    cursor: pointer !important;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    font-family:"Helvetica Neue";
    color: white;
    font-size: 16px;
}

.unselected:focus{
    outline: 0;
    color: white;
}

.selected:focus{
    outline:0;
    color: #333 !important;
}

.btn:hover {
    color: #333;
    text-decoration: none;
    background-color: #e6e6e6;
    border-color: #e6e6e6;
}

.btn:focus{
    outline: 0;
}

.skin_face{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 320px;
    height: 390px;
    margin-top: -10px;
}

.name_box{
    width: 470px;
    margin-left: auto;
    margin-right: auto;
}

.bottle_box{
    padding-left: 36px; 
    padding-right: 36px;
    display: none;
}

.bottle_selected{
    border: solid #D6C5FB 2px;
    border-radius: 6px;
}

.allergy_box{
    margin-top: 130px;
}

#top > p{
    position: absolute;
    top: 104px;
    left: 66px;
}

#middle > p{
    position: absolute;
    top: 158px;
    left: 66px;
}

#bottom > p{
    position: absolute;
    top: 214px;
    left: 66px;
}

.left_1 {
    position: absolute;
    left: 280px;
    top: 728px;
}

.left_2 {
    position: absolute;
    left: 276px;
    top: 816px;
}

.right_1 {
    position: absolute;
    right: 268px;
    top: 756px;
}

.right_2 {
    position: absolute;
    right: 272px;
    top: 854px;
}

.desc_box{
    display: none;
}

.left_word_1{
    position: absolute;
    left: 326px;
    top: 732px;
}

.left_word_2 {
    position: absolute;
    left: 336px;
    top: 820px;
}

.right_word_1 {
    position: absolute;
    right: 334px;
    top: 760px;
}

.right_word_2 {
    position: absolute;
    right: 324px;
    top: 858px;
}

